parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/DependencyInjection/Configuration.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
